.user-details-box {
    width: 48%;
    padding: 15px;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 #000000, inset 4px 4px 15px 0 #000000, 8px 7px 28px 15px rgba(0, 0, 0, 0.55);
}

.get-posts-btn {
    height: 40px;
    background: linear-gradient(orange, orangered);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 45%;
}
